<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6986928062352" version="0.0.1">
  <name>APIF1</name>
  <description/>
  <author email="15501268202@sina.cn" href="http://www.apicloud.com">penjoyer</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/>
  <preference name="autoLaunch" value="false"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="false"/>
  <preference name="debug" value="false"/>
  <preference name="iOS7StatusBarAppearance" value="true"/>
  <permission name="readPhoneState"/>
  <permission name="call"/>
  <permission name="sms"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <permission name="contact"/>
  <access origin="*"/>
  <feature name="sinaWeiBo">
    <param name="urlScheme" value="wb586014046"/>
    <param name="apiKey" value="586014046"/>
    <param name="registUrl" value="http://www.apicloud.com"/>
  </feature>
  <feature name="weiXin">
    <param name="urlScheme" value="wx1e9d810d64eba304"/>
    <param name="apiKey" value="wx1e9d810d64eba304"/>
    <param name="apiSecret" value="020990aaf8b674089376ac47b593aa5c"/>
  </feature>
  <feature name="baiduMap">
    <param name="android_api_key" value="42wmH5pr0QzGcidPLTLyI5BA"/>
    <param name="ios_api_key" value="42wmH5pr0QzGcidPLTLyI5BA"/>
  </feature>
</widget>
